<!--begin::title-->
<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
	<span id="typedjs_TitleStratup_Main" class="fs-4 fw-normal"></span>
	سامانه پایه ( مدیریت دانش آموزان ) تحت وب
	<!--begin::توضیحات-->
	<span class="page-desc text-muted fs-7 fw-semibold pt-2">نسخه تحت وب : 01.00</span>
	<!--end::توضیحات-->
</h1>
<!--end::title-->
<!--==========================================================================-->
@section StartupScripts {
	<script>
		var typed = new Typed("#typedjs_TitleStratup_Main", {
			strings: ["سامانه پایه ( فروشگاهی آنلاین ) تحت وب", "ویژه کسب و کارهای پایه", "فروشگاه چند منظوره", "با ما همراه باشید..."],
			typeSpeed: 60
		});
	</script>
}