<!--begin:menu item-->
<div class="menu-item">
	<!--begin:menu content-->
	<div class="menu-content">
		<span class="menu-section fs-5 fw-bolder ps-1 py-1">پیشخوان (اطلاعات)</span>
	</div>
	<!--end:menu content-->
</div>
<!--end:menu item-->
<!--begin:menu item-->
<div class="menu-item">
	<!--begin:menu link-->
	<a class="menu-link active" href="#">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title fw-bold">داشبرد مدیریت</span>
	</a>
	<!--end:menu link-->
	<!--begin:menu link-->
	<a class="menu-link" href="#">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">مدیریت دانش آموزان</span>
	</a>
	<!--end:menu link-->
	<!--begin:menu link-->
	<a class="menu-link" href="#">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">مدیریت کلاس ها</span>
	</a>
	<!--end:menu link-->
	<!--begin:menu link-->
	<a class="menu-link" href="#">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">مدیریت معلمان</span>
	</a>
	<!--end:menu link-->
</div>
<!--end:menu item-->
<!--end:Menu item-->
@* <div class="menu-inner flex-column collapse" id="kt_app_sidebar_menu_dashboards_collapse">
	<div class="menu-item">
		<a class="menu-link" href="../../demo24/dist/dashboards/bidding.html">
			<span class="menu-bullet">
				<span class="bullet bullet-dot"></span>
			</span>
			<span class="menu-title">مناقصه</span>
		</a>
	</div>
</div> *@
@* <div class="menu-item">
	<div class="menu-content">
		<a class="btn btn-flex btn-color-primary d-flex flex-stack fs-base p-0 ms-2 mb-2 toggle collapsible collapsed" data-bs-toggle="collapse" href="#kt_app_sidebar_menu_dashboards_collapse" data-kt-toggle-text="بستن">
			<span data-kt-toggle-text-target="true">مشاهده بیشتر</span>
			<i class="ki-outline ki-minus-square toggle-on fs-2 me-0"></i>
			<i class="ki-outline ki-plus-square toggle-off fs-2 me-0"></i>
		</a>
	</div>
</div> *@