<!--begin::پیام ها-->
<div class="scroll-y me-n5 pe-5" data-kt-element="messages" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_drawer_chat_messenger_header, #kt_drawer_chat_messenger_footer" data-kt-scroll-wrappers="#kt_drawer_chat_messenger_body" data-kt-scroll-offset="0px">
	<!--begin::پیام(in)-->
	<div class="d-flex justify-content-start mb-10">
		<!--begin::Wrapper-->
		<div class="d-flex flex-column align-items-start">
			<!--begin::user-->
			<div class="d-flex align-items-center mb-2">
				<!--begin::Avatar-->
				<div class="symbol symbol-35px symbol-circle">
					<img alt="Pic" src="assets/media/avatars/300-25.jpg" />
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="ms-3">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary me-1">رضا علی ابادی</a>
					<span class="text-muted fs-7 mb-1">دو دقیقه پیش</span>
				</div>
				<!--end::Details-->
			</div>
			<!--end::user-->
			<!--begin::Text-->
			<div class="p-5 rounded bg-light-info text-dark fw-semibold mw-lg-400px text-start" data-kt-element="message-text">چقدر احتمال دارد که شرکت ما را به دوستان و خانواده خود پیشنهاد دهید؟?</div>
			<!--end::Text-->
		</div>
		<!--end::Wrapper-->
	</div>
	<!--end::پیام(in)-->
</div>
<!--end::پیام ها-->