<!--begin::sidebar secondary menu-->
<div class="menu menu-sub-indention menu-rounded menu-column menu-active-bg menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-arrow-gray-500 fw-semibold fs-6 py-4 py-lg-6"
	 id="kt_app_sidebar_secondary_menu" data-kt-menu="true">
	<div id="kt_app_sidebar_secondary_menu_wrapper" class="hover-scroll-y px-1 px-lg-5"
		 data-kt-scroll="true" data-kt-scroll-activate="{default: true, lg: true}"
		 data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_app_sidebar_secondary_menu"
		 data-kt-scroll-offset="20px">
		<!--begin:menu item-->
		<div class="menu-item">
			<!--begin:menu content-->
			<div class="menu-content">
				<span class="menu-section fs-5 fw-bolder ps-1 py-1">پیشخوان</span>
			</div>
			<!--end:menu content-->
		</div>
		<!--end:menu item-->
		<!--begin:menu item-->
		<div class="menu-item">
			<!--begin:menu content-->
			<div class="menu-content">
				<span class="menu-section fs-5 fw-bolder ps-1 py-1">پیشخوان (اطلاعات)</span>
			</div>
			<!--end:menu content-->
		</div>
		<!--end:menu item-->
		<!--begin:menu item-->
		<div class="menu-item">
			<!--begin:menu link-->
			<a class="menu-link active" href="#">
				<span class="menu-bullet">
					<span class="bullet bullet-dot"></span>
				</span>
				<span class="menu-title fw-bold">داشبرد مدیریت</span>
			</a>
			<!--end:menu link-->
			<!--begin:menu link-->
			<a class="menu-link" href="#">
				<span class="menu-bullet">
					<span class="bullet bullet-dot"></span>
				</span>
				<span class="menu-title">مدیریت دانش آموزان</span>
			</a>
			<!--end:menu link-->
			<!--begin:menu link-->
			<a class="menu-link" href="#">
				<span class="menu-bullet">
					<span class="bullet bullet-dot"></span>
				</span>
				<span class="menu-title">مدیریت کلاس ها</span>
			</a>
			<!--end:menu link-->
			<!--begin:menu link-->
			<a class="menu-link" href="#">
				<span class="menu-bullet">
					<span class="bullet bullet-dot"></span>
				</span>
				<span class="menu-title">مدیریت معلمان</span>
			</a>
			<!--end:menu link-->
		</div>
		<!--end:menu item-->
	</div>
</div>
<!--end::sidebar secondary menu-->