<!--begin:menu item-->
<div class="menu-item">
	<!--begin:menu content-->
	<div class="menu-content">
		<span class="menu-section fs-5 fw-bolder ps-1 py-1">پیشخوان (اطلاعات)</span>
	</div>
	<!--end:menu content-->
</div>
<!--end:menu item-->
<!--begin:menu item-->
<div class="menu-item">
	<!--begin:menu link-->
	<a class="menu-link active" href="#">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title fw-bold">داشبرد مدیریت</span>
	</a>
	<!--end:menu link-->
	<!--begin:menu link-->
	<a class="menu-link" href="#">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">مدیریت دانش آموزان</span>
	</a>
	<!--end:menu link-->
	<!--begin:menu link-->
	<a class="menu-link" href="#">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">مدیریت کلاس ها</span>
	</a>
	<!--end:menu link-->
	<!--begin:menu link-->
	<a class="menu-link" href="#">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">مدیریت معلمان</span>
	</a>
	<!--end:menu link-->
</div>
<!--end:menu item-->
