@inject AttendanceManagement.PublicMethodClass.PersianDateTimeConvert convertdate
@{
	ViewData["Title:"] = "پنل مدیریت | سامانه مدیریت دانش آموزان";
}

<!--begin::content container-->
<div id="kt_app_content_container" class="app-container container-xxl">
	<!--begin::row-->
	<div class="row gy-5 g-xl-10  draggable-zone">
		<!--begin::Col-->
		<div class="col-xl-7 mb-xl-10 draggable">
			<!--begin::Engage widget 1-->
			<div class="card h-md-100" dir="rtl">
				<!--begin::Body-->
				<div class="card-body d-flex flex-column flex-center">
					<!--begin::Heading-->
					<div class="mb-2">
						<!--begin::Title-->
						<h1 class="fw-bolder text-primary text-center lh-lg">
							سلام مدیر محترم... خوش آمدید
							<br />
							<span class="fw-normal fs-5 text-gray-600">حالا میتوانید شروع کنید...</span>
						</h1>
						<!--end::Title-->
						<!--begin::Illustration-->
						<!--end::Illustration-->
					</div>
					<!--end::Heading-->
					<!--begin::Links-->

					<!--end::Links-->
				</div>
				<!--end::Body-->
			</div>
			<!--end::Engage widget 1-->
		</div>
		<!--end::Col-->
		<!--begin::Col-->
		<div class="col-xl-5 mb-xl-10">
			<!--begin::Engage widget 1-->
			<div class="card  h-md-100" dir="rtl">
				<!--begin::Body-->
				<div class="card-body d-flex flex-column flex-center">
					<!--begin::Heading-->
					<h1 class="fw-bolder text-primary text-center lh-lg">
						تقویم روز
					</h1>
					<div class="mb-5">
						<!--begin::Title-->
						<!--کد های مربوط به تاریخ نگار شمسی توسط مترونیک به صورت کاملاً فارسی-->
						<div id="datepicker_inline"></div>
						<!--end::Title-->
					</div>
					<div class="m-0">
						<span class="fw-bolder fs-4 text-primary">امروز : <span class="fw-bolder">@convertdate.ConvertDateMiladiToShamsi(DateTime.Now, "dddd d MMMM yyyy") </span></span>
					</div>
					<!--end::Heading-->
				</div>
				<!--end::Body-->
			</div>
			<!--end::Engage widget 1-->
		</div>
		<!--end::Col-->
	</div>
	<!--end::content container-->
</div>
<!--===================================================================================-->
<!--START - HELP Modal-->

<!--END - HELP Modal-->
<!--===================================================================================-->
<!--کد های اسکریپت مربوط به تاریخنگار شمسی مترونیک به صورت خودکار-->
@section DashboardScripts {
	<script>
		new tempusDominus.TempusDominus(document.getElementById("kt_td_picker_inline"), {
				display: {
					//viewMode: "calendar",
					sideBySide: false,
					calendarWeeks: false,
					viewMode: 'calendar',
					toolbarPlacement: 'bottom',
					keepOpen: true,
					buttons: {
						today: true,
						clear: true,
					},
					components: {
						hours: true,
						minutes: true,
						seconds: true,
						calendar: true,
						date: true,
						month: false,
						year: true,
						decades: false,
						clock: true,
					},
					inline: true,
					theme: 'auto'
				},
				localization: {
					locale: "fa",
					startOfTheWeek: 1,
					format: "yyyy/MM/dd",
					today: 'برو به امروز',
					selectMonth: 'انتخاب ماه جاری',
					selectTime: 'انتخاب زمان',
					selectYear: 'انتخاب سال'
				}
			});
	</script>
	<script>
		$("#datepicker_inline").flatpickr({
			enableTime: false,
			inline:true,
			disableMobile:true,
			weekNumbers: false,
			locale: {
				locale: "fa",
				firstDayOfWeek: 1
			}
		});
	</script>
}
<!--===================================================================================-->
<script>
	var containers = document.querySelectorAll(".draggable-zone");
	if (containers.length === 0) {
		return false;
	}
	var swappable = new Sortable.default(containers, {
		draggable: ".draggable",
		handle: ".draggable .draggable-handle",
		mirror: {
			//appendTo: selector,
			appendTo: "body",
			constrainDimensions: true
		}
	});
</script>
<!--===================================================================================-->