@font-face {
    font-family: "SFProDisplayLight";
    src: url("../fonts/en-ft/eot/SFProDisplay-Light.eot"); /* IE */
    src: url("../fonts/en-ft/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), /* IE */
    url("../fonts/en-ft/woff/SFProDisplay-Light.woff") format("woff"), /* Modern Browsers */
    url("../fonts/en-ft/ttf/SFProDisplay-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: "SFProDisplayRegular";
    src: url("../fonts/en-ft/eot/SFProDisplay-Regular.eot"); /* IE */
    src: url("../fonts/en-ft/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), /* IE */
    url("../fonts/en-ft/woff/SFProDisplay-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/en-ft/ttf/SFProDisplay-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: "SFProDisplayBold";
    src: url("../fonts/en-ft/eot/SFProDisplay-Bold.eot"); /* IE */
    src: url("../fonts/en-ft/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), /* IE */
    url("../fonts/en-ft/woff/SFProDisplay-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/en-ft/ttf/SFProDisplay-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}

.FEN {
    font-family: SFProDisplayRegular;
    direction: ltr;
}

.image-align-avatar {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}
.image-caption-avatar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}
.image-align-avatar-bkg {
    background-color: #f9f9f9;
}
.flex-direction-radioBTN {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.MRG-top-zero {
    margin-top: 0px;
}
.MRG-letterSpacing {
    margin-right: 3rem;
    letter-spacing: 0.1rem;
}
.input_container {
    border: 1px solid #e5e5e5;
}

input[type=file]::file-selector-button {
    background-color: #fff;
    color: #000;
    border: 0px;
    border-right: 1px solid #e5e5e5;
    padding: 10px 15px;
    margin-right: 20px;
    transition: .5s;
}

    input[type=file]::file-selector-button:hover {
        background-color: #eee;
        border: 0px;
        border-right: 1px solid #e5e5e5;
    }
.ParentListSelected {
    display: flex;
    flex-wrap: wrap;
}

.item-Parent:hover {
    /*background-color: #22252f;*/
    /*border: 0.5px dashed #0b0b0b;*/
}

.item-Parent {
    display: inline-flex;
    background-color: #6A74C9;
    align-items: center;
    padding: .4rem .4rem;
    display: inline-flex;
    align-items: center;
    max-width: calc(var(--tag--max-width) - 10px);
    margin-inline: 5px 0;
    margin-block: 5px;
    position: relative;
    z-index: 1;
    outline: 0;
    line-height: normal;
    cursor: default;
    transition: .13s ease-out;
    color: #fff;
    border-radius: .475rem;
}

.Tag-select {
    display: inline-flex;
    min-width: 250px;
    margin-top: 15px;
    min-height: 50px;
    background-color: #110500;
    align-items: center;
    padding-right: 11px;
    color: #ccc;
    border-radius: 10px;
    border: 0.5px solid gray;
    margin-right: 7px;
    margin-left: 6px;
}

.item-btn-remove:hover {
/*    background-color: #2a2a2b;
    border: 0.5px solid white;*/
}

.item-btn-remove {
    min-width: 27px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    color: white;
    margin-left: 13px;
}
.BKG_TableHeader {
    background-color: #f1f4ff;
}
/*div.dataTables_length select {
    color: green !important;
    background-color: blue !important;
}*/
.tempus-dominus-widget-styled {
    width: 420px !important;
}
.AlignVTCObject{
    vertical-align: middle,
}
.table-column-hide {
    display: none;
}